<li>
  <a href="<%= retweet_tweet_path(tweet) %>" data-method="post" data-remote="true" class="link-black">
    <i class="fa fa-retweet margin-r-5"></i> <span class="text-sm"><%= tweet.retweets_count %></span>
  </a>
</li>
