<div class="row">
  <% if current_user %>
    <%= render 'shared/profile' %>
  <% else %>
    <%= render 'shared/hash_tags' %>
  <% end %>
  <%= render 'shared/tweets' %>
  <div class="col-md-3">

  </div>
</div>
