<div class="col-md-3">
  <div class="box box-widget widget-user-2">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header tag-color">
      <div class="widget-user-image" style="color:white">
        <h3>Trends For You</h3>
      </div>
    </div>
    <div class="box-footer no-padding">
      <ul class="nav nav-stacked">
        <li class="hash"><a href="javascript:void(0)">#Projects <span class="pull-right badge bg-blue">31</span></a></li>
        <li class="hash"><a href="javascript:void(0)">#Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
        <li class="hash"><a href="javascript:void(0)">#Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
        <li class="hash"><a href="javascript:void(0)">#Followers <span class="pull-right badge bg-red">842</span></a></li>
      </ul>
    </div>
  </div>
</div>

<style type="text/css">
.hash {
  font-size: 18px;
  font-weight: 600;
}
.tag-color {
  background-color: #31b0d5;
  padding:0px
}
.nav-stacked > li > a {
  border-radius: 0;
  border-top: 0;
  border-left: 3px solid transparent;
  color: #31b0d5;
}
.widget-user-2 .widget-user-header {
  padding: 1px 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
</style>
