<div class="col-md-3">
  <div class="box box-widget widget-user-2">
    <div class="widget-user-header tag-color">
      <div class="widget-user-image" style="color:white">
        <h3>Trends For You</h3>
      </div>
    </div>
    <div class="box-footer no-padding">
      <ul class="nav nav-stacked">
        <li class="hash"><a href="javascript:void(0)">#Ruby <span class="pull-right badge bg-blue">5115</span></a></li>
        <li class="hash"><a href="javascript:void(0)">#RubyonRails <span class="pull-right badge bg-aqua">3595</span></a></li>
        <li class="hash"><a href="javascript:void(0)">#IndVsEng <span class="pull-right badge bg-green">2300</span></a></li>
        <li class="hash"><a href="javascript:void(0)">#RailsWithVueJs <span class="pull-right badge bg-red">1942</span></a></li>
        <li class="hash"><a href="javascript:void(0)">#Robo2.0 <span class="pull-right badge bg-aqua">1595</span></a></li>
        <li class="hash"><a href="javascript:void(0)">#politicsNews <span class="pull-right badge bg-green">1300</span></a></li>
        <li class="hash"><a href="javascript:void(0)">#HTMLcssJS <span class="pull-right badge bg-red">879</span></a></li>
      </ul>
    </div>
  </div>
</div>

<style type="text/css">
.hash {
  font-size: 18px;
  font-weight: 600;
}
.tag-color {
  background-color: #31b0d5;
  padding:0px
}
.nav-stacked > li > a {
  border-radius: 0;
  border-top: 0;
  border-left: 3px solid transparent;
  color: #31b0d5;
}
.widget-user-2 .widget-user-header {
  padding: 1px 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
</style>
