<div class="row">
  <% if current_user %>
    <%= render 'shared/profile' %>
  <% else %>
    <%= render 'shared/hash_tags' %>
  <% end %>
  <%= render 'shared/tweets' %>
  <%= render 'who_to_follow' %>
</div>
